body
  background-color: #141e32
  margin: 0
h1
  font-family: Montserrat
  color: white
.left-sector
  position: relative
.title
  margin-top: 15%
  vertical-align: middle
  text-align: center
  margin-bottom: 5%
.button-consultation
  margin-left: 30%
  height: 20%
  width: 40%
.button-consultation
  color: #141e32
  background-color: #f0c896
  font-size: 20px
  border-radius: 10px
.title-list
  font-family: Montserrat
  font-size: 2em
  color: white
  text-align: center
.first-section
  margin-bottom: 20px

.filter
  font-family: Montserrat
  color: #f0c896
  text-align: center
  font-size: 1.2em
  font-weight: bold

.select-type
  width: 100%
  color: white

  -moz-appearance: none
  -webkit-appearance: none
  appearance: none
  border: solid 2px #030609
  border-radius: 4px
  padding: 5px
  background-color: transparent
  outline: none
  cursor: pointer
.select-type::-ms-expand
  display: none

.select-wrapper
  position: relative
.select-wrapper::after
  content: " "
  position: absolute
  top: 50%
  right: 15px
  transform: translateY(-50%)
  display: block
  width: 0
  height: 0
  border-style: solid
  border-width: 10.4px 6px 0 6px
  border-color: white transparent transparent transparent
  pointer-events: none

.select-type:focus
  outline: none
  box-shadow: 0 0 0 1px black, 0 0 10px #f0c896
.title-filter
  padding: 11px
  margin-bottom: -2px

.dropdown__button
  position: relative
  width: 100%
  color: white
  -moz-appearance: none
  -webkit-appearance: none
  appearance: none
  border: solid 2px #030609
  border-radius: 4px
  padding: 5px
  background-color: transparent
  outline: none
  cursor: pointer
  font-weight: bold
.dropdown__button:focus, .dropdown__button--active
  outline: none
  box-shadow: 0 0 0 1px black, 0 0 10px #f0c896
.dropdown__button::after
  content: " "
  position: absolute
  top: 50%
  right: 15px
  transform: translateY(-50%)
  display: block
  width: 0
  height: 0
  border-style: solid
  border-width: 10.4px 6px 0 6px
  border-color: white transparent transparent transparent
  pointer-events: none

.dropdown
  position: relative

.dropdown__list
  display: none
  position: absolute
  left: 0
  top: 30px
  margin: 0
  padding: 0
  list-style-type: none
  background-color: #141e32
  box-shadow: #030609 0 4px 8px
  overflow: hidden
  border-radius: 6px
  width: 100%
  z-index: 1
.dropdown__list--visible
  display: block

.dropdown__list-item
  color: white
  margin: 0
  border: 1px solid black
  padding: 5px 5px
  border-bottom: 0
  cursor: pointer
  font-size: 12px

.dropdown__list-item:first-child
  border-radius: 6px 6px 0 0
.dropdown__list-item:last-child
  border-radius: 0 0 6px 6px
  border-bottom: 1px solid black
.dropdown__list-item:hover
  background: #1e2e4f
.dropdown__input-hidden
  display: none

//color: #f0c896

// color: #f0c896
//.list
//  &__element
//    display: inline





